---
import { TeamUsers } from "../../components/icons/TeamUsers";
---

<section class="pt-32 pb-16 px-4 md:px-10">
  <div class="flex items-center gap-2">
    <TeamUsers fontSize={24} />
    <h2 class="text-4xl uppercase font-semibold">Let's Team Up</h2>
  </div>
</section>
